@charset "utf-8";
/* CSS Document */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
input,
select,
form images,
button {
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
textarea {
  width: 95%;
}
a {
  color: #000;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
ul,
ol,
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
img {
  border: none;
}
input,
img {
  vertical-align: middle;
}
body {
  color: #000;
  font-family: arial;
  background: #fff;
  overflow-x: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.txt-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.mm_container {
  width: 100%;
  padding-top: 1.33333333rem;
}
.mm_header {
  width: 100%;
  height: 1.33333333rem;
  background-color: #ff841d;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.mm_header .header_logo {
  width: 4.94666667rem;
  height: 0.66666667rem;
  position: absolute;
  top: 0.32rem;
  left: 0.42666667rem;
  background: url("../images/header_logo.png") center no-repeat;
  background-size: 4.94666667rem 0.66666667rem;
}
.mm_header .header_app {
  width: 1.33333333rem;
  height: 1.33333333rem;
  position: absolute;
  top: 0;
  right: 0.13333333rem;
  background: url("../images/header_app.png") center no-repeat;
  background-size: 0.90666667rem 0.90666667rem;
}
.mm_search {
  width: 100%;
  height: 1.33333333rem;
  background-color: #fff;
  padding: 0.26666667rem;
}
.mm_search input {
  width: 7.46666667rem;
  height: 0.8rem;
  float: left;
  border-radius: 0.66666667rem;
  background-color: #f1f1f1;
  border: none;
  font-size: 0.24rem;
  padding: 0.4rem;
}
.mm_search .search_btn {
  width: 1.68rem;
  height: 0.8rem;
  float: right;
  background-color: #ff841d;
  border-radius: 0.66666667rem;
  border: none;
  font-size: 0.24rem;
  color: #fff;
}
.mm_footer {
  background-color: #f1f1f1;
}
.mm_footer .footer_win {
  margin-top: 0.26666667rem;
  width: 100%;
  height: 0.93333333rem;
  background-color: #ff841d;
  position: relative;
  overflow: hidden;
}
.mm_footer .footer_win .win_left {
  height: 0.93333333rem;
  line-height: 0.93333333rem;
  color: #fff;
  padding: 0 0.26666667rem;
  font-size: 0.29333333rem;
}
.mm_footer .footer_win .win_right {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.93333333rem;
  height: 0.93333333rem;
  background: url("../images/more.png") center no-repeat;
  background-size: 0.53333333rem 0.53333333rem;
}
.mm_footer .footer_nav {
  margin-top: 0.73333333rem;
  width: 100%;
  height: 0.90666667rem;
}
.mm_footer .footer_nav ul li:nth-child(2) {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.mm_footer .footer_nav ul li {
  float: left;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  line-height: 0.90666667rem;
}
.mm_footer .footer_nav ul li a {
  font-size: 0.24rem;
}
.mm_footer .footer_nav ul li a img {
  width: 0.37333333rem;
  height: 0.33333333rem;
  padding-bottom: 0.06666667rem;
}
.mm_footer .footer_mob {
  width: 100%;
  height: 1.65333333rem;
  margin-top: 0.33333333rem;
  text-align: center;
}
.mm_footer .footer_mob p {
  font-size: 0.29333333rem;
  padding: 0.06666667rem;
  font-weight: bold;
}
.mm_footer .footer_mob p .copy {
  color: #ff0a07;
}
.mm_footer .footer_mob p .bj {
  color: #ccc;
}
.mm_footer .footer_mob p.com {
  color: #ccc;
}
.mm_nav {
  width: 100%;
  height: 1.01333333rem;
  border-top: 0.01333333rem solid #ccc;
  border-bottom: 0.01333333rem solid #ccc;
  padding: 0 0.2rem;
  background: linear-gradient(to bottom, #fbfbfb, #efefef);
}
.mm_nav .nav_l {
  height: 1.01333333rem;
  line-height: 1.01333333rem;
}
.mm_nav .nav_r button {
  width: 1.6rem;
  height: 0.72rem;
  font-size: 0.29333333rem;
  display: block;
  background-color: #e8e8e8;
  border: none;
  margin: 0.13333333rem;
  box-shadow: 0 0.01333333rem 0.02666667rem #888;
}
.product_show {
  width: 100%;
  height: 10.4rem;
  background-color: #fff;
}
.product_show .product_prp {
  width: 100%;
  height: 6.73333333rem;
  position: relative;
}
.product_show .product_prp .pro_name {
  width: 100%;
  height: 1.53333333rem;
  text-align: center;
  padding: 0.33333333rem 0.53333333rem 0.33333333rem 0.53333333rem;
  font-size: 0.42666667rem;
}
.product_show .product_prp .pro_img img {
  width: 4.66666667rem;
  height: 4rem;
  display: block;
  margin: 0 auto;
}
.product_show .product_prp .pro_col img {
  position: absolute;
  right: 0.61333333rem;
  bottom: 0.48rem;
  width: 1.09333333rem;
  height: 1.09333333rem;
}
.product_show .product_tab {
  width: 100%;
  height: 0.96rem;
  border-top: 0.04rem solid #c05935;
  border-bottom: 0.04rem solid #c05935;
  box-sizing: border-box;
}
.product_show .product_tab li {
  float: left;
  width: 33.3%;
  height: 0.88rem;
  background-color: #ffc629;
  line-height: 0.88rem;
  text-align: center;
  font-size: 0.37333333rem;
}
.product_show .product_tab li.first {
  background-color: #ff9916;
}
.product_show .product_tab li.second {
  border-left: 0.02666667rem solid #c05935;
  border-right: 0.02666667rem solid #c05935;
}
.product_show .product_tips {
  width: 100%;
  height: 2.8rem;
  background-color: #fff;
  border-bottom: 0.06666667rem solid #606060;
}
.product_show .product_tips .tips {
  width: 100%;
  height: 1.17333333rem;
  border-bottom: 0.02666667rem solid #ccc;
  line-height: 1.17333333rem;
}
.product_show .product_tips .tips .tips_t {
  width: 100%;
  height: 1.17333333rem;
  border-bottom: 0.02666667rem solid #ccc;
  line-height: 1.17333333rem;
}
.product_show .product_tips .tips .tips_t img {
  width: 0.4rem;
  height: 0.4rem;
}
.product_show .product_tips .tips .tips_t .btn {
  width: 1.46666667rem;
  height: 0.58666667rem;
  background-color: #ff5500;
  color: #fff;
  border: none;
  margin: 0.26666667rem 0.13333333rem;
  border-radius: 0.13333333rem;
}
.product_show .product_tips .tips .tips_t .price {
  font-size: 0.37333333rem;
  color: #cc0106;
}
.product_show .product_tips .tips_b {
  height: 1.54666667rem;
  width: 100%;
  padding: 0.2rem 0.13333333rem;
}
.product_show .product_tips .tips_b p {
  font-size: 0.34666667rem;
  color: #887c7f;
}
.assess {
  width: 100%;
  background-color: #fff;
}
.assess .ass_top {
  width: 100%;
  height: 0.88rem;
  background-color: #dbdbdb;
  line-height: 0.88rem;
  text-align: center;
}
.assess .ass_ms li {
  width: 100%;
  padding: 0.26666667rem;
  border-bottom: 0.01333333rem solid #ccc;
}
.assess .ass_ms li p.first {
  font-size: 0.37333333rem;
  color: #72888f;
}
.assess .ass_ms li p.second {
  font-size: 0.37333333rem;
  color: #72888f;
  text-align: right;
}
.assess .ass_ms li p.third {
  font-size: 0.33333333rem;
  font-weight: bold;
}
.assess .ass_b {
  width: 100%;
  height: 1.33333333rem;
  padding: 0.4rem 0.24rem 0 0.24rem;
}
.assess .ass_b .btn {
  width: 9.52rem;
  height: 0.93333333rem;
  font-size: 0.33333333rem;
  font-weight: bold;
}
